@charset "UTF-8";
/* CSS Document */

@media (max-width: 1200px) {
  .container {
    width: 900px;
  }
  /* ------------navigation---------------  */
  .navigation-wrapper {
    padding-left: 120px;
    padding-right: 120px;
  }
  .navbar-menu {
    display: none;
  }
  /* ------------dream project---------------  */
  .build-dream-project-heading-1 {
    font-weight: 600;
    font-size: 62px;
    line-height: 70px;
  }
  .make-project-heading-mobile {
    display: block;
  }
  /* .make-project-heading-desktop {
    display: none;
  } */

  .build-dream-project-heading-1::before {
    top: -39px;
    right: 31%;
  }
  .column-3-image-one-wrapper {
    margin-left: 31px;
  }
  .team-arrow-wrapper {
    width: 17%;
  }
  .column-3-image-four {
    padding-top: 20px;
  }
  .build-dream-project-paragraph {
    padding-top: 34px;
  }
  .build-dream-project-bottom-detail-wrapper {
    padding-top: 34px;
    padding-bottom: 125px;
  }
  /* -----------------feature--------------  */
  .feature-right-column-box-wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
  .feature-right-column-box-wrapper {
    width: 100%;
  }
  /* -----------------founder--------------  */

  .founder-heading {
    font-weight: 800;
    font-size: 30px;
  }
  .founder-heading::before {
    top: -21px;
    right: 16px;
  }
  .feature-box-paragraph {
    font-size: 16px;
    line-height: 28px;
  }
  .feature-box-active-heading {
    padding-top: 93px !important;
  }
  /* ------------digital products---------------  */
  .digital-section-heading {
    font-weight: 800;
    font-size: 40px;
    line-height: 51px;
  }
  .digital-section-body {
    font-size: 18px;
    line-height: 27px;
    max-width: 329px;
  }
  .digital-section-detail-body {
    padding-left: 9px;
    font-size: 13px;
  }
  .digital-products-author-name {
    font-size: 16px;
    line-height: 19px;
    padding-left: 73px;
  }
  .digital-body-mobile {
    display: block;
    font-weight: 400 !important;
    font-size: 20px !important;
    line-height: 32px !important;
    color: #391400;
  }
  /* ------------latest work---------------  */
  .latest-work-menu {
    padding: 36px 198px 0px 198px;
  }
  .explore-button-holder {
    padding-top: 64px;
    padding-bottom: 144px;
  }
  /* ------------questions---------------  */
  .questions-heading {
    font-weight: 800;
    font-size: 30px;
    line-height: 37px;
  }
  .questions-body {
    font-size: 16px;
    line-height: 32px;
  }
  .acc-header {
    padding-left: 30px;
    padding-right: 30px;
  }
  .acc-btn {
    font-size: 20px;
    line-height: 32px;
  }
  .acc-body {
    padding: 0 30px 44px 30px;
  }
  /* ------------map---------------  */
  .map-pin {
    top: 324px;
    left: 780px;
  }
  /* --------------feature -----------  */
  /* .feature-right-column-box-wrapper {
    width: 100% !important;
  } */
  /* ----------Get Started -------  */
  .get-started-inner-wrapper {
    padding-left: 20px;
  }
  .get-started-wrapper::before {
    left: 3%;
    top: -16%;
  }
  .get-started-img-bitmap {
    left: 10px;
    bottom: 0;
  }
}
@media (max-width: 1000px) {
  .h-1 {
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1px;
    color: #391400;
  }
  .container {
    width: 100%;
  }
  .experience-right-section {
    padding-left: 40px;
    padding-right: 0px;
  }
  .build-dream-project-bottom-detail-wrapper {
    padding-bottom: 80px;
  }
  /* --------------- founder ---------------  */
  .founder-col-2 {
    padding-left: 30px;
    padding-top: 5px;
  }
  /* --------------- un lock ---------------  */
  .unlock-right-column {
    padding-left: 20px;
  }
  /* --------------- map ---------------  */
  .map-form-container {
    left: 5%;
  }
  .map-pin {
    left: 70%;
  }
  .dream-project-image-wrapper {
    padding-bottom: 20px;
  }

  /* --------------plan -----------  */
  .plans-card {
    /* background: #ffffff !important; */
    border-radius: 6px 6px 0px 0px !important;
    margin-top: 0px !important;
  }
  /* --------------event -----------  */
  .event-card-wrapper {
    padding: 0px;
  }
  /* --------------latest work -----------  */
  .latest-work-menu {
    /* padding: 36px 198px 0px 198px; */
    padding: 36px;
  }
  /* --------------news letter -----------  */
  .form-input {
    padding: 7px 5px;
    width: 100%;
  }
  /* .new-letter-button-wrapper {
    padding-top: 16px;
    padding-left: 0;
  } */
  .new-letter-wrapper {
    padding-top: 60px;
    padding-bottom: 115px;
    display: flex !important;
    align-items: center;
  }
  .new-letter-button-wrapper {
    padding-left: 10px;
  }
  .form-control {
    padding-right: 90px;
  }
  /* ------------------contact -----------  */
  .contact-card {
    padding: 32px 28px 38px 32px;
  }
  /* ------------------dream project -----------  */
  .dream-project-container-wrapper {
    padding: 94px 44px 72px 40px;
  }
}
@media (max-width: 767px) {
  /* -----------navbar-------------  */
  .navigation-wrapper {
    display: none;
  }
  .nav-wrapper {
    justify-content: space-between;
  }
  .icon-wrapper {
    display: inline-block;
    margin-top: 0px;
  }
  .icon-name {
    display: inline;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #ffffff;
  }
  .nav-button-wrapper {
    display: none;
  }
  .navbar-menu {
    display: block;
  }
  /* ---------------- dream project ----------   */
  .homepage-build-dream-project-section-content-wrapper {
    padding-top: 16px;
  }
  .dream-project-left {
    padding-top: 16px;
  }
  .build-dream-project-heading-1::before {
    display: none;
  }
  .build-dream-project-heading-1 {
    font-weight: 800;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -1px;
    color: #ffffff;
  }
  .build-dream-project-paragraph {
    padding-top: 12px;
  }
  .build-dream-project-heading-1-mobile {
    display: block;
  }
  .dream-project-left-mobile {
    font-weight: 800;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -1px;
    color: #ffffff;
    display: block;
  }
  /* .dream-project-heading-desktop {
    display: none;
  } */
  .dream-project-heading-mobile {
    max-width: 360px;
  }
  .build-dream-project-paragraph-desktop {
    display: none;
    /* max-width: 329px; */
  }
  .build-dream-project-paragraph-mobile {
    display: block;
    max-width: 329px;
  }
  .build-dream-project-work-button {
    margin-top: 1px;
  }
  .build-dream-project-bottom-detail-wrapper {
    padding-top: 44px;
    padding-bottom: 32px;
  }
  /* ---------------- unlock ----------   */
  .unlock-left-column {
    display: flex;
    justify-content: center;
  }
  .new-look-right-column {
    display: flex;
    justify-content: center;
  }
  .unlock-right-column {
    padding-left: 0px;
  }
  /* ---------------- feature ----------   */
  .feature-pre-heading {
    text-align: center;
  }
  .feature-heading {
    margin: auto;
  }
  .feature-read-more {
    text-align: center;
  }
  /* .feature-right-column-box-wrapper {
    width: 50% !important;
  } */
  .box-holder {
    display: flex;
    justify-content: center;
    padding-top: 35px;
  }
  .box-1-wrapper {
    display: flex;
    justify-content: center;
    max-width: 400px;
  }
  .feature-column-one {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .feature-acc {
    padding-top: 36px;
  }
  /* ---------------- new look ----------   */
  .new-look-wrapper {
    padding: 0px 0 150px 0;
  }

  /* -----------numbers ------------  */
  .number-item-data {
    display: flex;
    justify-content: center;
  }
  /* -------------------latest work ---------  */
  .latest-work-card-mobile {
    padding-top: 32px;
  }
  .latest-work-select {
    background: #ffffff;
    border-radius: 6px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: rgba(57, 20, 0, 0.64);
    padding: 9px 210px 7px 16px;
    margin-top: 32px;
    display: block;
    width: 100%;
  }
  .latest-work-heading {
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #ffffff;
  }
  .latest-work-menu {
    display: none !important;
  }
  .latest-work-1 {
    width: 100%;
  }
  /* -------------------getting started ---------  */
  .get-started-wrapper::before {
    left: 7%;
    top: -6%;
  }
  .get-started-inner-wrapper {
    padding-left: 0px;
    /* max-width: 450px; */
  }
  .get-started-card-mobile-bottom-border {
    display: flex;
    justify-content: center;
  }
  .get-started-img-path {
    padding-top: 120px;
  }
  .get-started-img-bitmap {
    left: 201px;
    bottom: 0;
  }
  .get-started-card-tablet {
    display: flex;
    justify-content: center;
  }
  .get-started-card-mobile-upper-border {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .get-started-wrapper::before {
    left: 32%;
    top: -6%;
  }
  .get-started-button-wrapper {
    padding-bottom: 0px;
  }
  /* -------------------founder ---------  */
  .founder-ph-wrapper {
    padding-top: 41px !important;
  }
  /* -------------------event ---------  */
  .event-card-wrapper {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 36px;
  }
  /* -------------------services ---------  */

  .services-single-box-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .services-heading {
    text-align: center;
  }
  .pre-services-heading {
    text-align: center;
  }
  /* -------------------map ---------  */
  .map-form-container {
    top: 128px;
    left: 2%;
  }
  .map-pin {
    top: 324px;
    left: 85%;
  }
  .new-letter-button-wrapper {
    padding-top: 16px;
    padding-left: 0;
  }
  /* -------------------- blog -----------  */
  .blog-heading {
    max-width: 350px;
    padding-bottom: 30px;
  }

  /* -------------------- new-letter -----------  */
  .new-letter-right {
    display: flex;
    padding-top: 28px;
    flex-direction: column;
  }
  .new-letter-button {
    width: 100%;
  }

  /* -------------------- footer -----------  */
  .footer-icon-wrapper {
    display: flex !important;
    justify-content: center;
    margin-top: 52px;
  }
  .footer-menu-holder {
    text-align: center;
  }
  .footer-menu {
    text-align: center;
    padding-top: 48px;
  }
}
@media (max-width: 576px) {
  .h-1 {
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    color: #391400;
  }
  /* -----------navbar-------------  */
  .navigation-wrapper {
    display: none;
  }
  .nav-wrapper {
    justify-content: space-between;
  }
  .icon-wrapper {
    display: inline-block;
    margin-top: 0px;
  }
  .icon-name {
    display: inline;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #ffffff;
  }
  .nav-button-wrapper {
    display: none;
  }
  .navbar-menu {
    display: block;
  }
  /* -----------------dream project --------------  */
  .homepage-build-dream-project-section-content-wrapper {
    padding-top: 16px;
  }
  .dream-project-left {
    padding-top: 16px;
  }
  .build-dream-project-heading-1::before {
    display: none;
  }
  .build-dream-project-heading-1 {
    font-weight: 800;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -1px;
    color: #ffffff;
  }
  .build-dream-project-paragraph {
    padding-top: 12px;
  }
  .build-dream-project-heading-1-mobile {
    display: block;
  }
  .dream-project-left-mobile {
    font-weight: 800;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -1px;
    color: #ffffff;
    display: block;
  }
  /* .dream-project-heading-desktop {
    display: none;
  } */
  .dream-project-heading-mobile {
    max-width: 360px;
  }
  .build-dream-project-paragraph-desktop {
    display: none;
    /* max-width: 329px; */
  }
  .build-dream-project-paragraph-mobile {
    display: block;
    max-width: 329px;
  }
  .build-dream-project-work-button {
    margin-top: 1px;
  }
  .build-dream-project-bottom-detail-wrapper {
    padding-top: 44px;
    padding-bottom: 32px;
  }

  /* --------------brands section-------------  */
  .brand-mobile {
    padding-top: 24px;
  }
  .brand-items-wrapper {
    padding: 47px 0;
    position: relative;
  }
  .experience-section-wrapper {
    padding: 71px 0 112px 0;
  }
  /* -------------experience ----------  */
  .experience-right-section {
    padding-left: 0px;
  }
  .experience-heading-2 {
    padding-top: 16px;
  }
  .experience-heading-1 {
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    color: #391400;
  }
  .experience-paragraph {
    font-weight: 400;
  }
  .experience-button {
    margin-top: 17px;
  }
  /* --------services---------  */
  .services-single-box-wrapper {
    display: block;
  }
  .services-heading {
    text-align: start;
  }
  .pre-services-heading {
    text-align: start;
  }
  .digital-right {
    padding-left: 0px;
  }
  /* --------numbers section---------  */
  .numbers {
    background-color: #fdf0e9;
    padding-bottom: 94px;
  }
  .number-item-data {
    display: block;
  }
  .make-project-left-paragraph {
    padding-top: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: rgba(57, 20, 0, 0.64);
  }
  .make-project-left-link {
    padding-top: 17px;
  }
  .make-project-right-section {
    padding-left: 0px;
  }
  .make-project-right-section-item-one-wrapper {
    padding-top: 77px;
  }
  .make-project-right-section-item-two-wrapper {
    padding-top: 48px;
  }
  .make-project-right-section-item-three-wrapper {
    padding-top: 48px;
  }
  .make-project {
    padding-bottom: 71px;
  }
  .make-project-wrapper::after {
    bottom: -71px;
  }
  .make-project-heading-mobile {
    max-width: 329px !important;
  }
  /* --------- unlock ---------------- */
  .unlock-wrapper {
    padding: 63px 0 81px 0;
  }
  .unlock-right-column {
    padding-left: 0px;
  }
  .unlock-left-column {
    display: block;
  }
  /* -------------- new look ----------------  */
  .new-look-pre-heading {
    padding-top: 0;
  }
  .new-look-heading {
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    color: #391400;
    padding-top: 17px;
    max-width: 397px;
  }
  .new-look-right-column {
    display: block;
  }
  /* .new-look-paragraph {
    display: none;
  } */
  .new-look-paragraph-mobile {
    padding-top: 13px;
    font-size: 20px;
    line-height: 32px;
    color: #391400;
    padding-top: 26px;
    display: block;
    max-width: 329px;
  }
  .new-look-checkbox-wrapper {
    padding: 0;
  }
  .new-look-wrapper {
    padding: 0px 0 128px 0;
  }
  /* -------------- feature ------------  */
  .feature-heading {
    padding-top: 15px;
    max-width: 329px;
  }
  .feature-read-more {
    padding-top: 32px;
  }
  .box-1-wrapper {
    padding: 0;
  }
  .feature-pre-heading {
    text-align: start;
  }
  .feature-heading {
    margin: 0;
  }
  .feature-read-more {
    text-align: start;
  }
  .feature-right-column-box-wrapper {
    width: 90%;
  }
  .box-holder {
    display: block;
  }
  /* -------------- digital products ------------  */
  .feature-wrapper {
    padding: 0px 0 112px 0;
  }
  .pre-heading {
    padding-top: 6px;
  }
  .digital-section-heading {
    font-weight: 800;
    font-size: 39px;
    line-height: 48px;
    color: #391400;
    padding-top: 17px;
  }
  .digital-products-right-section {
    padding-left: 0;
  }
  .digital-section-detail-wrapper {
    padding: 9px;
  }
  .digital-section-detail-body {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgba(57, 20, 0, 0.64);
    padding-left: 20px;
    max-width: 245px;
  }
  .digital-products-author-name {
    padding-left: 90px;
    padding-top: 0;
  }
  .button-wrapper {
    padding-top: 20px;
  }
  .digital-products-wrapper {
    padding: 0 0 124px 0;
  }
  .services-heading {
    font-weight: 800;
    font-size: 38px;
    line-height: 48px;
    color: #391400;
    padding-left: 0px;
    padding-top: 17px;
    padding-right: 0px;
  }
  /* .latest-work-drop-down {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: rgba(57, 20, 0, 0.64);
    padding: 9px 200px 7px 16px;
    background: #ffffff;
    border-radius: 6px;
    width: 150px;
  } */
  /* .latest-work-drop-down option {
    width: 150px;
  } */
  .latest-work-card-holder {
    padding-top: 48px;
  }
  .latest-work-select {
    background: #ffffff;
    border-radius: 6px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: rgba(57, 20, 0, 0.64);
    padding: 9px 210px 7px 16px;
    margin-top: 32px;
    display: block;
    width: 100%;
  }
  .latest-work-heading {
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #ffffff;
  }
  .latest-work-menu {
    display: none !important;
  }
  .latest-work-card-mobile {
    height: 416px;
    /* background-color: aqua; */
    /* border: 2px solid black; */
    padding-top: 32px !important;
  }
  /* -----------latest work ------------  */
  .latest-work-card-mobile {
    padding-top: 0px;
  }
  /* -----------get started ------------  */
  .get-started-inner-wrapper {
    background-color: transparent;
  }
  .get-started-card-mobile {
    background-color: #fdf0e9;
  }
  .get-started-card-mobile-upper-border {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
  .get-started-card-mobile-bottom-border {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  .get-started-wrapper::before {
    left: 8%;
    top: -7%;
  }
  .get-started-pre-heading {
    padding-left: 23px;
  }
  .get-started-heading {
    padding-left: 23px;
  }
  .get-started-button-wrapper {
    padding-left: 23px;
  }
  .get-started-button-wrapper {
    padding-bottom: 0;
  }
  .get-started-img {
    padding-top: 29px;
  }
  .get-started-img-bitmap {
    left: 74px;
    bottom: 0;
    height: 317px;
  }
  .get-started-img-path {
    display: block;
    margin: auto;
  }
  /* -------------event handling -------------  */
  .events-heading {
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
  }
  .event-mobile-card {
    margin-top: 35px;
  }
  .events-explore {
    padding-top: 48px;
  }
  .events-wrapper {
    padding: 0 0 124px 0;
  }
  /* ------------team --------------  */
  .team-heading {
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    color: #ffffff;
  }
  .team-arrow-wrapper {
    display: none;
  }
  .team-images-wrapper {
    padding-bottom: 0px;
  }
  /* --------- founder -----------  */
  .founder-wrapper {
    padding: 116px 0;
  }
  .founder-col-2 {
    padding-left: 0px;
  }
  .founder-heading {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
  }
  .founder-heading::before {
    top: -23px;
    right: 8px;
  }
  /* ----------- clients --------  */
  .client-button-wrapper {
    padding-top: 50px;
  }
  .client-details-wrapper img {
    height: 80px;
  }
  /* ----------- plan  --------  */
  .plan-heading {
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
  }
  .plans-card {
    margin: 0;
  }
  /* -------------- questions -----------  */
  .acc-btn {
    text-align: left;
  }
  /* ------------ awards --------  */
  .questions-wrapper {
    padding: 92px 0;
  }
  .award-items-wrapper {
    padding-top: 35px;
  }
  .awards-left-item-name {
    padding-left: 0;
  }
  .awards-name {
    padding-right: 0;
    padding-left: 0px;
  }
  .awards-left-item-name {
    padding-top: 26px;
  }
  .awards-left-item {
    padding-top: 15px;
    padding-bottom: 0;
  }
  .awards-item-right {
    padding-top: 16px;
  }
  /* --------------blog -------------  */
  .blog-wrapper {
    padding-top: 30px;
  }
  .blog-heading {
    padding-top: 0;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
  }
  .align-self-lg-end {
    padding-top: 35px;
  }
  .blog-card-wrapper {
    padding-top: 0px;
  }
  .blog-card {
    padding-top: 48px;
  }
  /* ---------------- news letter ----------  */
  .new-letter-wrapper {
    padding-top: 76px;
  }
  .blog-input {
    margin-top: 35px;
  }
  .form-input {
    padding: 7px 5px;
    width: 100%;
  }
  .new-letter-button-wrapper {
    padding-top: 16px;
    padding-left: 0;
  }
  .new-letter-button {
    width: 100%;
  }
  /* ---------map  --------------  */
  /* .map-from-container-mobile {
    display: block !important;
  }
  .map-from-container-desktop {
    display: none !important;
  } */
  .map-form-container {
    position: static !important;
  }
  .map-text-area {
    width: 100%;
  }
  .map-pin {
    left: 40%;
    top: 65%;
  }
  /* ---------contact  --------------  */
  .contact-wrapper {
    padding-top: 32px;
  }
  /* ---------dream -project  --------------  */
  .dream-project-container-wrapper {
    padding: 29px 20px;
  }
  .dream-project-heading {
    font-weight: 800;
    font-size: 37px;
    line-height: 48px;
  }
  .dream-project-body {
    padding-top: 15px;
    max-width: 274px;
  }
  .dream-project-button-wrapper {
    padding-top: 21px;
  }
  /* -----------------footer --------------  */
  .footer-wrapper {
    padding-top: 121px;
  }
  .footer-icon-wrapper {
    display: flex !important;
    justify-content: center;
    margin-top: 52px;
  }
  .footer-menu {
    padding-top: 48px;
  }
  .copyright-body-desktop {
    display: none;
  }
  .copyright-body-mobile {
    display: block;
  }
  /* ------------------- copyright --------------  */
  .copyright-wrapper {
    align-items: center;
  }
  .copyright-right {
    padding-top: 32px;
  }
}
